*Elastic IPs*
{% if is_empty %}
_Nothing to report._
{% else %}
The following EIPs are not associated with an instance:
```
{% if True %}  {% endif %}{% for title in titles.keys() -%}
{{ (title|column_display_name).ljust(titles[title]) }}{%if not loop.last %} : {% endif %}
{%- endfor %}

{% if True %}  {% endif %}{% for title in titles.keys() -%}
{%if not loop.last %}{{ '-' * titles[title] }} : {% else %}{{ '-' * title|length }}{% endif %}
{%- endfor %}

{% for region, items in result.iteritems() %}
    {% if items.count > 0 %}
        {% for i in items %}
* {{ ' : '.join([i['id'].ljust(titles['id']),
                 i['region'].ljust(titles['region']),
                 i['public_ip']]) }}
        {% endfor %}
    {% endif %}
{% endfor %}
```
{% endif %}
