*RDS Instances*
{% if is_empty %}
_Nothing to report._
{% else %}
The following RDS instances have been running for a while:
```
{% if True %}  {% endif %}{% for title in titles.keys() -%}
{{ (title|column_display_name).ljust(titles[title]) }}{%if not loop.last %} : {% endif %}
{%- endfor %}

{% if True %}  {% endif %}{% for title in titles.keys() -%}
{%if not loop.last %}{{ '-' * titles[title] }} : {% else %}{{ '-' * title|length }}{% endif %}
{%- endfor %}

{% for region, items in result.iteritems() %}
    {% if items.count > 0 %}
        {% for i in items %}
* {{ ' : '.join([i['name'].ljust(titles['name']),
                 i['region'].ljust(titles['region']),
                 i['launched'].ljust(titles['launched']),
                 i['class'].ljust(titles['class']),
                 i['owner'].ljust(titles['owner']),
                 i['project'].ljust(titles['project']),
                 i['other_tags']]) }}
        {% endfor %}
    {% endif %}
{% endfor %}
```
{% endif %}
